/* colors */
* {
        background:                     #04dcb3;
/* fondo terminal */
        background-alt:         #0A2332;
/* text menu */
        foreground:                     #EEEEEE;
/* fondo de search */
        selected:                       #f32453;
        urgent:                         #635373;
        on:                                     #496886;
        off:                            #A36584;
}
